@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1;100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hepta Slab', serif;
    padding: 0px;
    margin: 0px;
}

#board {
    background-color: rgb(200, 204, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    height: 90vh;

}

.card {
    position: relative;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100px;
    display: grid;
    place-content: center;
    border: none;
    overflow: hidden;
    padding: 0;
    transition: border 0.1s ease-in-out;
}


.card>img{
    transition: opacity 0.1s ease-in-out;
}
.solved {
    border: solid black 2px;
}

h1 {
    font-weight: 300;
    font-size: 100px;
    padding: 24px;
    margin: 20px;
}

#winning-screen , #losing-screen{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

#winning-screen, #losing-screen{
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 24px;
    backdrop-filter: blur(5px);
}

#winning-screen button, #losing-screen button {
    padding: 12px 24px;
    font-size: 32px;
    border: solid 2px black;
    background-color: white;
    border-radius: 8px;
    transition: transform 0.05s ease-in-out;
}

button:hover {
    border: solid 2px rgba(0, 0, 0, 0.5);
}

#winning-screen button:hover, #losing-screen button:hover {
    transform: scale(1.1);
}

h1{
    text-align: center;
    text-shadow: 2px 4px 0px white;
}

#time{
    position:absolute;
    bottom:10px;
    right:10px;
}
#score{
    position:absolute;
    bottom:10px;
    left:10px;
}